body {
  text-align: center;
  background-color: bisque;
}
h1 {
  color: rgba(0, 89, 255, 0.427);
  margin-top: 0.5em;
  font-size: 100px;
}
h2 {
  color: aquamarine;
  margin-top: 0.5em;
  font-size: 60px;
}
h3 {
  color: brown;
  font-size: 30px;
}
